@charset "UTF-8";

.company {
  &__outer {
    display: flex;
    justify-content: center;
    margin-top: 5.5rem;
  }
  border-collapse: separate;
  border-radius: 26px;
  border: solid 1px #d3cfc8;
  background-color: $company-content-color;
  overflow: hidden;
  border-spacing: 0;

  &__tag {
    box-sizing: border-box;
    padding: 1.8rem 2.5rem;
    width: 15.6rem;
    height: auto;
    vertical-align: middle;
    border-bottom: 1px solid #d3cfc8;
    border-right: 1px solid #d3cfc8;
    font-size: 1.4rem;
    text-align: left;
    color: $base-text-color;
    background-color: $company-tag-color;
  }
  &__content {
    box-sizing: border-box;
    padding: 1.8rem 2.5rem;
    width: 47rem;
    vertical-align: middle;
    border-bottom: 1px solid #d3cfc8;
    font-size: 1.4rem;
    text-align: left;
    color: $base-text-color;
  }
  tr {
    &:last-child {
      th,
      td {
        border-bottom: none;
      }
    }
  }
}

/***********************************
* break-point-tablet 1110以下
***********************************/

@media (max-width: $tablet-window-size) {
  .company {
    &__outer {
      margin-top: 4rem;
    }

    &__tag {
      font-size: 1.3rem;
    }

    &__content {
      font-size: 1.3rem;
    }
  }
}
/***********************************
* break-point-sp 767px以下
***********************************/

/***********************************
* break-point-sp500 500px以下
***********************************/
@media (max-width: $sp500-window-size) {
  .company {
    &__outer {
      margin-top: 3rem;
    }

    &__tag {
      font-size: 1.1rem;
      width: 11rem;
      padding: convertVw(17, 500) convertVw(20, 500);
    }

    &__content {
      font-size: 1.1rem;
      padding: convertVw(17, 500) convertVw(20, 500);
    }
  }
}
