@charset "UTF-8";

%form {
  padding: 0 0.5rem;
  height: 4rem;
  border-radius: 1.2rem;
  border: solid 1px #d3cfc8;
  background-color: $contact-text-color;
}

.contact {
  margin-top: 4rem;
  text-align: center;
  padding-bottom: 7rem;

  &__btn {
    width: 23.7rem;
    height: 5.5rem;
    border-radius: 2.75rem;
    background-color: #fbf9f7;
    margin-top: 2rem;
    font: {
      size: 1.5rem;
      family: "gloria-hallelujah";
    }
    color: $base-text-color;

    &:hover {
      opacity: 0.7;
    }
  }

  &__form {
    display: grid;
    justify-content: center;
    align-items: center;
    color: $contact-text-color;
    grid-template:
      "require tag form"
      / 5.3rem 20.7rem 34.9rem;
    margin-bottom: 1rem;

    &__content {
      align-items: flex-start;
    }
  }

  &__name {
    &__outer {
      grid-area: form;
      display: flex;
    }

    &__name {
      width: 50%;
      box-sizing: border-box;
      margin-left: 1rem;
      @extend %form;
    }

    &__surname {
      width: 50%;
      box-sizing: border-box;
      @extend %form;
    }
  }

  &__email {
    grid-area: form;
    @extend %form;
  }

  &__content {
    grid-area: form;
    padding: 1rem 1rem;
    border-radius: 1.2rem;
    border: solid 1px #d3cfc8;
    background-color: $contact-text-color;
  }

  &__label {
    padding-left: 1rem;
    font-size: 1.4rem;
    grid-area: tag;
    display: flex;
    align-items: center;
    &.contact__label__content {
      align-items: flex-start;
    }
  }

  &__require-tag {
    grid-area: require;
    border-radius: 3px;
    background-color: $contact-item-tag-color;
    height: 1.9rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__information {
    display: flex;
    justify-content: center;
    margin-top: 4.3rem;
  }

  &__tell {
    font: {
      size: 3.6rem;
      family: "century-gothic-bold";
    }
    color: $contact-text-color;
    letter-spacing: 0.035em;

    &__outer {
      display: flex;
      flex-direction: column;
    }

    &__icon {
      width: 4.5rem;
      height: 3.7rem;
      background-image: url(../img/tell-icon.png);
      background-repeat: no-repeat;
      background-size: contain;

      &__outer {
        display: flex;
        align-items: center;
        margin-right: 1rem;
      }
    }

    &__title {
      font: {
        size: 1.45rem;
        family: "m-plus-rounded-1c-regular";
      }
      color: $contact-text-color;
      letter-spacing: 0.05em;
    }
  }

  &__hours {
    font-size: 1.4rem;
    color: $contact-text-color;
  }
}

/***********************************
* break-point-tablet 1110以下
***********************************/

@media (max-width: $tablet-window-size) {
  .contact {
    &__tell {
      font-size: 3.2rem;

      &__title {
        font-size: 1.3rem;
      }
    }

    &__hours {
      font-size: 1.2rem;
    }
    &__require-tag {
      font-size: 1rem;
    }

    &__contact__label {
      font-size: 1.2rem;
    }

    &__btn {
      width: 21.3rem;
      height: 5rem;
      font-size: 1.3rem;
      margin-top: 3rem;
    }

    &__information {
      margin-top: 4rem;
    }
  }
}
/***********************************
* break-point-sp 767px以下
***********************************/

@media (max-width: $sp-window-size) {
  .contact {
    margin-top: 3rem;

    &__form {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      margin-right: auto;
      width: 100%;
      margin-bottom: 2rem;
    }

    &__require-tag {
      display: none;
    }

    &__label {
      display: block;
      margin-bottom: 5px;

      &:after {
        content: "必須";
        border-radius: 3px;
        background-color: $contact-item-tag-color;
        padding: 1px 3px;
        font-size: 7px;
        text-align: center;
        line-height: 7px;
        margin-left: 8px;
      }
    }

    &__name {
      &__outer {
        width: 100%;
      }
    }

    &__email {
      box-sizing: border-box;
      width: 100%;
    }

    &__content {
      box-sizing: border-box;
      width: 100%;
    }

    &__information {
      margin-top: 3rem;
    }
  }
}
/***********************************
* break-point-sp500 500px以下
***********************************/
@media (max-width: $sp500-window-size) {
  .contact {
    &__label {
      font-size: 1.2rem;
    }

    &__btn {
      width: 19rem;
      height: 4rem;
      font-size: 1.1rem;
    }

    &__tell {
      font-size: 3rem;

      &__title {
        font-size: 1.1rem;
      }
    }

    &__hours {
      font-size: 1.1rem;
    }
  }
}
