@charset "UTF-8";

.current-location {
  &__box {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 6rem;

    &__inner {
      display: flex;
      flex-direction: column;
    }

    &__upper-row {
      display: flex;
      margin-bottom: 7px;
      align-items: center;
    }
    &__lower-row {
      display: flex;
    }
  }

  &__item {
    width: 11.7rem;
    height: 2.7rem;
    border-radius: 1.35rem;
    background-color: $base-bg-color;
    font-size: 1.5rem;
    color: $text-white;
    display: flex;
    align-items: center;
    justify-content: center;
    letter-spacing: 0.03em;

    &__outer {
      display: flex;
      align-items: center;
    }
  }

  &__content {
    font-size: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 1.4rem;
    letter-spacing: 0.03em;
    padding-right: convertVw(34, 1109);
  }
}

/***********************************
* break-point-tablet 1110以下
***********************************/

@media (max-width: $tablet-window-size) {
  .current-location {
    &__box {
      margin-top: 5rem;
    }

    &__item {
      font-size: convertVw(13, 1109);
      width: convertVw(110, 1109);
      height: convertVw(27, 1109);
      border-radius: convertVw(13, 1109);
    }

    &__content {
      font-size: convertVw(13, 1109);
      padding-left: convertVw(14, 1109);
      padding-right: convertVw(14, 1109);
    }
  }
}
/***********************************
* break-point-sp 767px以下
***********************************/

@media (max-width: $sp-window-size) {
  .current-location {
    &__box {
      margin-top: 2rem;

      &__lower-row {
        flex-direction: column;
      }
    }

    &__item {
      font-size: 1.1rem;
      width: 9rem;
      height: 2.5rem;
      border-radius: 1.3rem;

      &__outer {
        margin-bottom: 8px;
      }
    }

    &__content {
      font-size: 1.3rem;
      padding-left: 1.3rem;
    }
  }
}

/***********************************
* break-point-sp500 500px以下
***********************************/

@media (max-width: $sp500-window-size) {
  .current-location {
    &__item {
      font-size: 9px;
      width: 20%;
      height: 2rem;
      line-height: 2rem;
      border-radius: 1.3rem;

      &__outer {
        margin-bottom: 8px;
      }
    }

    &__content {
      width: 80%;
      font-size: 1.3rem;
      padding-left: 1rem;
      justify-content: flex-start;
      box-sizing: border-box;
    }
  }
}
