@charset "UTF-8";

/***********************************
* font
***********************************/

/* 使用フォント
* M PLUS Rounded 1c
* M PLUS Rounded 1c-Bold
* SourceHanSansJP
* GloriaHallelujah
* CenturyGothic
*/

// family
@font-face {
  font-family: "m-plus-rounded-1c-regular";
  src: url("./fonts/MPLUSRounded1c-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "m-plus-rounded-1c-bold";
  src: url("./fonts/MPLUSRounded1c-Bold.ttf") format("truetype");
}
@font-face {
  font-family: "sourcehansans-jp-regular";
  src: url("./fonts/SourceHanSans-Regular.otf") format("opentype");
}
@font-face {
  font-family: "gloria-hallelujah";
  src: url("./fonts/GloriaHallelujah-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "century-gothic";
  src: url("./fonts/CenturyGothic.ttf") format("truetype");
}
@font-face {
  font-family: "century-gothic-bold";
  src: url("./fonts/GOTHICB0.TTF") format("truetype");
}

/***********************************
* color
***********************************/

// text
$base-text-color: #5e4331;
$text-black: #494949;
$text-white: #ffffff;
$text-gray: #8e8d8d;
$text-light-gray: #818181;

$contact-item-tag-color: #d77358;
$contact-text-color: #fbf9f7;

$company-tag-color: #e4ddd8;
$company-content-color: #fbf9f7;

// background
$base-bg-color: #5e4331;
$sub-bg-color: #fbf9f7;
$menu-bg-color: #f2eee9;

// border
$menu-border-color: #cecece;

/***********************************
* break-point
***********************************/

$pc-window-size: 1500px;
$tablet-window-size: 1109px;
$sp-window-size: 767px;
$sp500-window-size: 500px;

/***********************************
* z-index
***********************************/

$z-index-xxs: -1;
$z-index-xs: 1;
$z-index-s: 10;
$z-index-sm: 20;
$z-index-m: 30;
$z-index-l: 40;
$z-index-ll: 50;
$z-index-3l: 60;
$z-index-xl: 70;
$z-index-xx: 80;

/***********************************
* animation
***********************************/


@keyframes popup {
  0% {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes popdown {
  0% {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
